# Custom Vision Model Keys, in testing stages, number of keys will be reduced to 1 when done with testing
CUSTOM_VISION_PREDICTION_KEY= # Leave this blank when deploying on Azure as AKV will be used instead

CUSTOM_VISION_DOG_VS_CAT_PREDICTION_URL=https://dogsvscatsclassificationmodelalex-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/983ba2b7-6aa2-4482-9004-6c752074938b/classify/iterations/DogsVsCatsDemo1/image
CUSTOM_VISION_BIKE_VS_CAR_PREDICTION_URL=https://dogsvscatsclassificationmodelalex-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/983ba2b7-6aa2-4482-9004-6c752074938b/classify/iterations/DogsVsCatsDemo1/image
CUSTOM_VISION_PIZZA_VS_NOT_PIZZA_PREDICTION_URL=https://fence-custom-vision-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/609ded08-09a4-4cb2-8eb0-02c5d7c249e3/classify/iterations/PizzaVsNotPizzaIteration2/image
CUSTOM_VISION_APPLE_VS_ORANGE_PREDICTION_URL=https://fence-custom-vision-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/25f8e447-a46b-4f15-8a71-98e044bf5725/classify/iterations/AppleVsOrangeClassificationIteration1/image
CUSTOM_VISION_SALMON_SPECIES_CLASSIFIER_URL=https://fence-custom-vision-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/da1d6157-15e8-42d8-a40c-d790228b57d3/classify/iterations/Iteration2/image
CUSTOM_VISION_FRESH_VS_INFECTED_SALMON_SPECIES_CLASSIFIER_URL=https://dogsvscatsclassificationmodelalex-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/983ba2b7-6aa2-4482-9004-6c752074938b/classify/iterations/DogsVsCatsDemo1/image
CUSTOM_VISION_EEL_VS_CATFISH_PREDICTION_URL=https://dogsvscatsclassificationmodelalex-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/314f957f-1759-4364-8491-6c3de6f916e5/classify/iterations/Freshwater%20Eel%20vs%20Catfish/image
CUSTOM_VISION_HEALTHY_VS_BLEACHED_CORAL_PREDICTION_URL=https://dogsvscatsclassificationmodelalex-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/07a83171-1220-464d-a534-894eb23a047a/classify/iterations/Healthy%20vs%20Bleached%20Coral%20Reefs%20Classification%20Model/image
CUSTOM_VISION_TROUT_VS_MOSQUITO_FISH_PREDICTION_URL=https://dogsvscatsclassificationmodelalex-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/aa6939af-0a4d-4286-9d0c-a1a57384928a/classify/iterations/TroutvsMosquitoFish/image
