# Used by the ML Models Repository for accessing the Azure Machine Learning workspace
AZURE_SUBSCRIPTION_ID = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
AZURE_RESOURCE_GROUP = "resource-group-name"
AZURE_ML_WORKSPACE = "resource-name"